{
  "branches": ["main"],
  "plugins": [
    [
        "@semantic-release/commit-analyzer",
        {
            "preset": "conventionalcommits"
        }
    ],
    [
        "@semantic-release/release-notes-generator",
        {
            "preset": "conventionalcommits",
            "presetConfig": {
              "types": [
                {
                  "type": "breaking",
                  "section": "❗ Breaking ❗",
                  "hidden": false
                },
                { "type": "feat", "section": "✨ Feature", "hidden": false },
                { "type": "fix", "section": "🐛 Bugfix", "hidden": false },
                { "type": "docs", "section": "📝  Documentation", "hidden": false },
                {
                  "type": "chore",
                  "section": "🔨  Misc.",
                  "hidden": false
                },
                {
                  "type": "ci",
                  "hidden": false
                },
                {
                  "type": "refactor",
                  "section": "⚡️ Code Performance",
                  "hidden": false
                },
                {
                  "type": "test",
                  "section": "🧪 Code Test",
                  "hidden": false
                },
                {
                  "type": "style",
                  "section": "💄 Design",
                  "hidden": false
                },
                { "type": "hotfix", "section": "🔥 Hotfix 🔥", "hidden": false }
              ]
            }
        }
    ],
    [
      "@semantic-release/changelog", {
        "changelogTitle": "# Changelog"
      }
    ],
    [
      "@semantic-release/git", {
        "assets": ["CHANGELOG.md"],
        "message": "chore: release ${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ],
  "repositoryUrl": "git@github.com:albertosml/semantic-release.git"
}