{
  "branches": [
    "main",
    { "name": "release/*", "prerelease": "rc" },
    { "name": "feature/*", "channel": "${name}" }
  ],
  "tagFormat": "${version}",
  "plugins": [
    [
        "@semantic-release/commit-analyzer",
        {
            "preset": "conventionalcommits",
            "releaseRules": [
              { "type": "hotfix", "release": "patch" }
            ]
        }
    ],
    [
        "@semantic-release/release-notes-generator",
        {
            "preset": "conventionalcommits",
            "presetConfig": {
              "types": [
                { "type": "breaking", "section": "❗ Breaking changes ❗" },
                { "type": "feat", "section": "✨ Feature" },
                { "type": "fix", "section": "🐛 Bugfix" },
                { "type": "docs", "section": "📝  Documentation" },
                { "type": "chore", "section": "🔨  Maintenance" },
                { "type": "ci", "section": "📦️ Build and CI" },
                { "type": "refactor", "section": " Refactor" },
                { "type": "perf", "section": "⚡️ Code Performance" },
                { "type": "test", "section": "🧪 Code Test" },
                { "type": "style", "section": "💄 Style" },
                { "type": "hotfix", "section": "🔥 Hotfix 🔥" }
              ]
            }
        }
    ],
    [
      "@semantic-release/changelog", {
        "changelogTitle": "# Changelog"
      }
    ],
    [
      "@semantic-release/git", {
        "assets": ["CHANGELOG.md"],
        "message": "chore: release ${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ],
  "repositoryUrl": "git@github.com:albertosml/semantic-release.git"
}